@page "/"

<h1>Hello world!</h1>

<SExpandableAutocomplete @bind-Value="_values"
                         Items="_items"
                         ItemText="r => r"
                         ItemValue="r => r"
                         Outlined
                         Chips
                         Dense
                         SmallChips
                         Label="Outlined">
</SExpandableAutocomplete>

@code{

    private List<string> _items = new List<string>()
    {
        "foo", "bar", "fizz", "buzz", "hello", "world", "lorem", "ipsum",
        "sit", "amet", "consectetur", "adipiscing", "elit",
        "sed", "do", "eiusmod", "tempor", "incididunt", "labore",
        "et", "magna", "aliqua", "enim", "ad", "minim", "veniam", "quis", "nostrud", "exercitation",
        "ullamco", "laboris", "nisi", "aliquip", "ex", "ea", "commodo",
        "consequat", "duis", "aute", "irure",
        "reprehenderit", "voluptate", "velit",
        "esse", "cillum", "eu", "fugiat",
        "nulla", "pariatur", "excepteur", "sint",
    };

    private List<string> _values = new List<string>
    {
        "foo", "bar"
    };

    private string _value = "foo";
}
