@page "/"

<h1>Hello world!</h1>

<div style="height:150vh">

    <SActions Dense>
        <ChildContent>
            <MButton Small Outlined Color="primary">Details</MButton>
        </ChildContent>
        <DropdownContent>
            <MButton LeftIconName="mdi-account">Account</MButton>
            <MButton LeftIconName="mdi-cog">Settings</MButton>
            <MButton LeftIconName="mdi-lock">Privacy</MButton>
            <MDivider/>
            <MButton>Star</MButton>
            <MDivider/>
            <MButton Color="error" LeftIconName="mdi-delete">Delete</MButton>
        </DropdownContent>
    </SActions>

    <MCard>
        <SActions Dense>
            <ChildContent>
                <MButton Small Outlined Color="primary">Details</MButton>
            </ChildContent>
            <DropdownContent>
                <MButton LeftIconName="mdi-account">Account</MButton>
                <MButton LeftIconName="mdi-cog">Settings</MButton>
                <MButton LeftIconName="mdi-lock">Privacy</MButton>
                <MDivider/>
                <MButton>Star</MButton>
                <MDivider/>
                <MButton Color="error" LeftIconName="mdi-delete">Delete</MButton>
            </DropdownContent>
        </SActions>
    </MCard>
</div>