@namespace Masa.Stack.Components.Layouts
@inherits MasaComponentBase
@inject GlobalConfig GlobalConfig

<div style="min-width:340px;">
    <SAutoComplete
        @bind-Value="Url"
        Items="_menus"
        TItem="Menu"
        AutoLabel=false
        TItemValue="string"
        TValue="string"
        ItemText="menu => FullTitleI18n(menu.FullTitle)"
        ItemValue="menu => menu.Url"
        BackgroundColor="white"
        Clearable
        Style="width:340px;border-radius: 8px;"
        Placeholder="@T("Menu search")">
    <PrependInnerContent>
        <MIcon Size=16 Class="mr-2 my-2 emphasis2--text">mdi-magnify</MIcon>
    </PrependInnerContent>
    <ItemContent Context="data">
            <div class="d-flex py-1" style="height:48px;width:100%;max-width:304px;">
            @if(string.IsNullOrEmpty(data.Item.InheritedIcon) is false)
            {
                <MIcon>@data.Item.InheritedIcon</MIcon>
            }          
            <div class="Body2 emphasis2--text my-auto ml-4">@FullTitleI18n(data.Item.FullTitle)</div>
        </div>
    </ItemContent>
</SAutoComplete>
</div>