@using Masa.Stack.Components.Layouts
@namespace Masa.Stack.Components
@inject GlobalConfig GlobalConfig

<MApp Class="masa masa-stack-components">
    <MAppBar App
             Class="@AppBarClass"
             Elevation="0"
             MaxHeight="60">
        <Favorites FlattenedNavs="FlattenedNavs" />
        <MSpacer />
        <SearchMenu />
        <Notification />
        <Settings />
        <Languages />
        <User />
    </MAppBar>

    <Navigation Items="Navs"
                Logo="@Logo"
                MiniLogo="@MiniLogo" />

    <MMain Class="pt-15">
        @if (GlobalConfig.PageMode == PageModes.PageTabs)
        {
            <PageTabs Items="@PageTabItems">
                @ChildContent
            </PageTabs>
        }
        else
        {
            <div class="pa-6 max-width">
                <Breadcrumbs FlattenedNavs="FlattenedNavs" />
                @ChildContent
            </div>
        }
    </MMain>
</MApp>

@code {
    string AppBarClass => GlobalConfig.PageMode == PageModes.PageTabs ? "mx-6" : "mx-6 rounded-b-4";
}
