@page "/dateRangePickerExample"

<div class="pa-12 mb-12">
    <SDatePicker @bind-Value=StartTime Max=EndTime />
</div>
<div class="pa-12 mb-12">
    <SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />
</div>

@code{
    public DateOnly? StartTime { get; set; }
    public DateOnly? EndTime { get; set; }
}