@page "/dateRangePickerExample"

<div class="pa-12 mb-12">
    <SDatePicker @bind-Value=StartTime Max=EndTime />
</div>
<div class="pa-12 mb-12">
    <SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />
</div>

<MRow>
    <MCol Col="3">
	<SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime Class="full-width" />	
    </MCol>
    <MCol Col="3">
	<SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />	
    </MCol>
    <MCol Col="3">
	<SDateRangePicker @bind-StartTime=StartTime @bind-EndTime=EndTime />	
    </MCol>
</MRow>

@code{
    public DateOnly? StartTime { get; set; }
    public DateOnly? EndTime { get; set; }
}
