@page "/icons"

<h3>Icons</h3>

<SIcon>mdi-pencil</SIcon>
<SIcon>mdi-check</SIcon>
<SIcon>mdi-pin</SIcon>
<SIcon>mdi-magnify</SIcon>
<SIcon>mdi-dots-horizontal</SIcon>
<SIcon>mdi-dots-vertical</SIcon>
<SIcon>far fa-copy</SIcon>
<SIcon>mdi-chevron-down</SIcon>
<SIcon>mdi-plus</SIcon>
<SIcon>mdi-delete</SIcon>
<SIcon>mdi-delete-outline</SIcon>
<SIcon>mdi-link-variant</SIcon>
<SIcon>mdi-close</SIcon>
<SIcon>trash-can</SIcon>

@code {

}
