@page "/index"
@using Masa.Stack.Components.Configs
@inherits MasaComponentBase
@inject GlobalConfig GlobalConfig
@inject JsInitVariables JsInitVariables
@implements IDisposable

<PageTitle>Index</PageTitle>

<h1>Index @JsInitVariables.TimezoneOffset</h1>
<h2>@DT("User")</h2>
<h2>Current Team:@_currentTeamId</h2>
<SForgetPasswordSheet></SForgetPasswordSheet>


@code{
    Guid _currentTeamId;

    protected override void OnInitialized()
    {
        GlobalConfig.OnCurrentTeamChanged += CurrentTeamChanged;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        _currentTeamId = GlobalConfig.CurrentTeamId;
        base.OnAfterRender(firstRender);
    }

    void CurrentTeamChanged(Guid teamId)
    {
        _currentTeamId = teamId;
        StateHasChanged();
    }

    public void Dispose()
    {
        GlobalConfig.OnCurrentTeamChanged -= CurrentTeamChanged;
    }
}