@page "/mini-components"

<h3>GroupBox</h3>
<SGroupBox Title="GroupBox">
    <MChip Small>
        UI
    </MChip>
    <MChip Small>
        UX
    </MChip>
</SGroupBox>

<h3>ColorGroup</h3>
<SColorGroup Style="background-color:transparent !important" @bind-Value="_color" Colors='_colors'>
</SColorGroup>

@code {
    string _color = "yellow";
    List<string> _colors = new List<string> { "purple", "green", "yellow", "red", "blue" };
}
