@page "/defaultPaginationExample"

<div class="pa-12 mb-12">
    <SPagination @bind-Page="Page" @bind-PageSize=PageSize Total=100 />
</div>

<MCard>
    <MCardText>
         <SPagination @bind-Page="Page" @bind-PageSize=PageSize Total=100 />
    </MCardText>
</MCard>


@code{
    int Page { get; set; } = 1;
    int PageSize { get; set; } = 10;
}