@page "/products/list"

<h3>Products</h3>

<ul>
    <li><a href="/products/details/A">A</a></li>
    <li><a href="/products/details/B">B</a></li>
    <li><a href="/products/details/C">C</a></li>
</ul>
