@page "/tab"

<h3>ElevationTab</h3>

<ElevationTab TabMinWidth="120" TabWindowClass="mt-4" Headers='new List<string>{"Menu Permission","Api Permission"}' Dense>
    <ElevationTabItem>
        Menu Permission
    </ElevationTabItem>
    <ElevationTabItem>
        Api Permission
    </ElevationTabItem>
</ElevationTab>

@code {

}
