@page "/users/{id}"

<h3>UserDetail @Id</h3>

@code {

    [CascadingParameter]
    public SLayout Layout { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
        if (Id == "1")
        {
            Layout.ReplaceLastBreadcrumb("One!!!");
        }
        else if (Id == "2")
        {
            Layout.ReplaceLastBreadcrumb("Two!!");
        }
        else if (Id == "3")
        {
            Layout.UpdateBreadcrumbs(items =>
            {
                items[1].Text = "Prev user";
                items[1].Href = "/users/2";
                items.Add(new()
                {
                    Text = "Three!!",
                });
                
            });
        }
    }

}
