@namespace Masa.Stack.Components.Layouts
@inject GlobalConfig GlobalConfig
@inject I18n I18N

<MMenu OffsetY Bottom>
    <ActivatorContent>
        <MButton Icon Class="emphasis2--text mr-6" @attributes="@context.Attrs">
            <MIcon Size="20">
                mdi-google-translate
            </MIcon>
        </MButton>
    </ActivatorContent>
    <ChildContent>
        <MList Class="py-0">
            <MListItemGroup ActiveClass="primary" Value="GlobalConfig.Language">
                @foreach (var (language, map) in I18nCache.ToDictionary())
                {
                    <MListItem OnClick="() => OnLanguageChange(language)" Value="(StringNumber)language">
                        <ItemContent>
                            <MListItemContent>
                                <span Class="@(context.Active ? "white--text" : "default-lighten-4--text") btn">
                                    @map.GetValueOrDefault("$Text")
                                </span>
                            </MListItemContent>
                        </ItemContent>
                    </MListItem>
                }
            </MListItemGroup>
        </MList>
    </ChildContent>
</MMenu>

@code {

    void OnLanguageChange(string language)
    {
        I18N.SetLang(language);
        GlobalConfig.Language = language;
    }

}
