.global-nav {
    display: flex;
    height: 100vh;
}

.global-nav .global-nav-left {
    width: 300px;
    padding: 24px;
}

.global-nav .global-nav-left__title {
    color: #A3AED0;
}

.global-nav .global-nav-left__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    background: #F6F8FD;
    border-radius: 20px;
}

.global-nav .global-nav-left__favorite-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.global-nav .global-nav-left__content ::deep .m-list-item:hover::before {
    border-radius: 8px;
}

.global-nav .global-nav-right {
    width: calc(100% - 300px);
}

.global-nav .global-nav-header {
    padding: 24px 24px 24px 0;
}

.global-nav .global-nav-header__title {
    font-weight: 700;
    font-size: 24px;
}

.global-nav .global-nav-content {
    display: flex;
}

.global-nav ::deep .global-nav-content__main {
    width: calc(100% - 308px);
    min-width: 1272px;
    overflow: auto;
    height: calc(100vh - 158px);
    padding-right: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.global-nav ::deep .global-nav-content__main::-webkit-scrollbar {
    width: 8px;
}

.global-nav ::deep .global-nav-content__main::-webkit-scrollbar-thumb {
    background: #A3AED0;
    border-radius: 4px;
}

.global-nav ::deep .global-nav-content__main::-webkit-scrollbar-track {
    background: #F0F3FA;
    border-radius: 6px;
}

.global-nav ::deep .global-nav-content__side {
    width: 300px;
    margin-right: 8px;
}

.global-nav ::deep .topic {
    margin-bottom: 24px;
}

.global-nav ::deep .topic .topic__header {
    background: #4318FF;
    border-radius: 8px;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 16px;
    margin-bottom: 16px;
}

.global-nav ::deep .apps {
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*max-height: 480px;*/
    /*margin: -8px;*/
}

.global-nav ::deep .apps .app {
    /*flex: 0 0 25%;*/
    max-width: 25%;
    min-width: 25%;
    padding: 8px;
}

.global-nav ::deep .m-expansion-panel-header {
    padding: 0;
    padding-left: 4px;
    min-height: 40px;
    margin-bottom: 8px;
}

.global-nav ::deep .m-expansion-panel--active > .m-expansion-panel-header {
    min-height: 40px;
}

.global-nav ::deep .m-expansion-panel-content__wrap {
    padding: 0;
}

.global-nav ::deep .m-expansion-panel .nav {
    margin-bottom: 16px;
    border: 1px solid #E2E7F4;
    border-radius: 8px;
}

.global-nav ::deep .m-expansion-panel .nav:last-child {
    margin-bottom: 0px;
}

.global-nav ::deep .nav .nav-item {
    padding: 0 8px;
}

.global-nav ::deep .nav .nav-item .m-list-item__title {
    font-size: 14px;
}

.global-nav ::deep .nav .sub-nav-item {
    padding: 0 16px;
}

.global-nav ::deep .nav .sub-nav-item .m-list-item__title {
    font-size: 14px;
}

.global-nav ::deep .m-timeline {
    margin-left: -36px;
    padding-top: 0;
    margin-top: 16px;
    font-size: 12px;
}

.global-nav ::deep .m-timeline--dense .m-timeline-item__body {
    min-width: calc(100% - 73px);
}

.global-nav ::deep .m-timeline-item {
    align-items: start;
}

.global-nav ::deep .m-timeline-item__divider {
    min-width: 50px;
}

.global-nav ::deep .m-timeline-item__dot--small {
    height: 16px;
    width: 16px;
}

::deep .secondary-dot_wrapper {
    border: 1px solid #4318FF;
    border-radius: 50%;
    height: inherit;
    width: inherit;
}

::deep .masa-text-highlight-1 {
    color: #1B2559 !important;
    font-weight: 700;
}

::deep .masa-text-highlight-2 {
    color: #323D6F !important;
    font-weight: 500;
}

::deep .masa-text-2-1 {
    color: #485585 !important;
    font-weight: 400;
}

::deep .masa-text-2-2 {
    color: #7681AB !important;
    font-weight: 400;
}

::deep .masa-text-3-1 {
    color: #A3AED0;
    font-weight: 400;
}

::deep .br-1 {
    border-radius: 4px;
}

::deep .br-2 {
    border-radius: 8px;
}
