@page "/users"

<ul>
    <li><a href="/users/1?a=1">User 1</a></li>
    <li><a href="/users/2">User 2</a></li>
    <li><a href="/users/3">User 3</a></li>
    <li><a href="/users/4">User 4</a></li>
    <li><a href="/users/5">User 5</a></li>
</ul>

@code {

    [Parameter]
    public string Id { get; set; }

}
