<MCard Class="user-info full-height br-5">
    <div class="user-info__left">
        <div class="avatar">
            <MAvatar Size="140" Class="mb-6">
                <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/marcus1.png"
                        Alt="avatar">
                </MImage>
            </MAvatar>
            <PBlockText Primary="朱迪"
                        PrimaryClass="masa-text-1-2__title"
                        Secondary="xie1wei2zhu32di"
                        SecondaryClass="masa-text-3-1">
            </PBlockText>
        </div>
        <div class="auths">
            <MDivider></MDivider>
            <div class="d-flex" style="justify-content: space-around">
                <MIcon Size="20" Class="masa-text-1-2">mdi-qqchat</MIcon>
                <MIcon Size="20" Class="masa-text-1-2">mdi-wechat</MIcon>
                <MIcon Size="20" Class="masa-text-1-2">mdi-cellphone</MIcon>
                <MIcon Size="20" Class="masa-text-3-1">mdi-email</MIcon>
            </div>
        </div>
    </div>
    <div class="user-info__right">
        <div class=""></div>
    </div>
</MCard>