@import url(standard.css);
@import url(pure-components.css);

body, .masa-stack-components {
    background-color: #F0F3FA !important;
}

.masa-stack-components .m-app-bar {
    background-color: transparent !important;
}

.masa-stack-components .m-app-bar .m-toolbar__content {
    background-color: inherit;
}

.masa-stack-components .global-nav {
    display: flex;
    height: 100vh;
}

.masa-stack-components .global-nav .global-nav-left {
    width: 300px;
    padding: 24px;
}

.masa-stack-components .global-nav .global-nav-left__title {
    color: #A3AED0;
}

.masa-stack-components .global-nav .global-nav-left__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    background: #F6F8FD;
    border-radius: 20px;
}

.masa-stack-components .global-nav .global-nav-left__favorite-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.masa-stack-components .global-nav .global-nav-left__content .m-list-item:hover::before {
    border-radius: 8px;
}

.masa-stack-components .global-nav .global-nav-right {
    width: calc(100% - 300px);
}

.masa-stack-components .global-nav .global-nav-header {
    padding: 24px 24px 24px 0;
}

.masa-stack-components .global-nav .global-nav-header__title {
    font-weight: 700;
    font-size: 24px;
}

.masa-stack-components .global-nav .global-nav-content {
    display: flex;
}

.masa-stack-components .global-nav .global-nav-content__main {
    width: calc(100% - 256px);
    overflow: auto;
    height: calc(100vh - 158px);
    padding-right: 16px;
    margin-right: 16px;
    margin-bottom: 24px;
}

.masa-stack-components .global-nav .global-nav-content__main::-webkit-scrollbar {
    width: 8px;
}

.masa-stack-components .global-nav .global-nav-content__main::-webkit-scrollbar-thumb {
    background: #A3AED0;
    border-radius: 4px;
}

.masa-stack-components .global-nav .global-nav-content__main::-webkit-scrollbar-track {
    background: #F0F3FA;
    border-radius: 6px;
}

.masa-stack-components .global-nav .global-nav-content__side {
    width: 300px;
    margin-right: 8px;
}

.masa-stack-components .global-nav .category {
    margin-bottom: 24px;
}

.masa-stack-components .global-nav .category .category__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4318FF;
    border-radius: 8px;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 24px;
    margin-bottom: 16px;
}

.masa-stack-components .global-nav .apps {
    margin: -8px -4px;
}

.masa-stack-components .global-nav .apps .app {
    max-width: 25%;
    min-width: 25%;
    padding: 8px;
}

.masa-stack-components .global-nav .m-expansion-panel-header {
    padding: 0 0 0 4px;
    min-height: 40px;
    margin-bottom: 8px;
}

.masa-stack-components .global-nav .m-expansion-panel--active > .m-expansion-panel-header {
    min-height: 40px;
}

.masa-stack-components .global-nav .m-expansion-panel-content__wrap {
    padding: 0;
}

.masa-stack-components .global-nav .m-expansion-panel .nav {
    margin-bottom: 16px;
    border: 1px solid #E2E7F4;
    border-radius: 8px;
}

.masa-stack-components .global-nav .m-expansion-panel .nav:last-child {
    margin-bottom: 0;
}

.masa-stack-components .global-nav .nav .nav-item {
    padding: 0 8px;
}

.masa-stack-components .global-nav .nav .nav-item .m-list-item__title {
    font-size: 14px;
}

.masa-stack-components .global-nav .nav .sub-nav-item {
    padding: 0 16px;
}

.masa-stack-components .global-nav .nav .action-item {
    padding: 0 16px 0 32px;
}

.masa-stack-components .global-nav .m-timeline {
    margin-left: -36px;
    padding-top: 0;
    margin-top: 16px;
    font-size: 12px;
}

.masa-stack-components .global-nav .m-timeline--dense .m-timeline-item__body {
    min-width: calc(100% - 73px);
}

.masa-stack-components .global-nav .m-timeline-item {
    align-items: start;
}

.masa-stack-components .global-nav .m-timeline-item__divider {
    min-width: 50px;
}

.masa-stack-components .global-nav .m-timeline-item__dot--small {
    height: 16px;
    width: 16px;
}

.masa-stack-components .global-nav .m-input--selection-controls__input:hover .mdi-checkbox-blank-outline {
    color: inherit !important;
    caret-color: inherit !important;
}

.masa-stack-components .global-nav .toc ul {
    list-style-type: none;
    padding-left: 8px;
}

.masa-stack-components .global-nav .toc li {
    border-left: 1px solid #E2E7F4;
    height: 40px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
}

.masa-stack-components .global-nav .toc li .dot {
    position: absolute;
    left: -10px;
    top: 11px;
}

.masa-stack-components .global-nav .toc li span {
    margin-left: 4px;
}

.masa-stack-components .clear-before-opacity:hover::before {
    opacity: 0;
}

.masa-stack-components .clear-before-opacity::before {
    opacity: 0;
}

.masa-stack-components .masa-icon-size-20 .m-icon {
    font-size: 20px;
}

.masa-stack-components .user-info {
    display: flex;
    height: 100%;
    padding: 24px;
}

.masa-stack-components .user-info__left {
    position: relative;
    height: 100%;
    width: 300px;
    min-width: 300px;
}
.masa-stack-components .user-info__left .avatar { 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.masa-stack-components .user-info__left .auths {
    position: absolute;
    bottom: 24px;
    width: 100%
}

    .masa-stack-components .user-info__left .auths > div:not(:last-child) {
        margin-bottom: 16px;
    }

.masa-stack-components .user-info__right {
    height: 100%;
    width: 100%;
    margin-top: 24px;
}

.masa-stack-components .nav-trigger {
    position: fixed;
    z-index: 6;
    top: 28px;
    border: 4px solid #F0F3FA !important;
}

.masa-stack-components .m-application--is-ltr .m-list-item__action:first-child, .m-application--is-ltr .m-list-item__icon:first-child {
    margin-right: 8px;
}

.masa-stack-components .m-list-item--medium .m-list-item__icon {
    height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.masa-stack-components .m-list--nav .m-list-item:not(:last-child):not(:only-child) {
    margin-bottom: 0;
}

.masa-stack-components .masa-text-highlight-2 {
    color: #323D6F !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text-highlight-1 {
    color: #1B2559 !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-text-3-1 {
    color: #A3AED0 !important;
    font-weight: 400 !important;
}

.masa-stack-components .masa-text-2-1 {
    color: #485585 !important;
    font-weight: 400 !important;
}

.masa-stack-components .masa-text-2-2 {
    color: #7681AB !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text-1-1 {
    color: #1B2559 !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text-1-2 {
    color: #323D6F !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text-1-2__title {
    color: #323D6F !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-text {
    color: #000000 !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-fill-clicked {
    background-color: #E9EDF7;
}

.masa-stack-components .br-1 {
    border-radius: 4px;
}

.masa-stack-components .br-2 {
    border-radius: 8px;
}

.masa-stack-components .br-5 {
    border-radius: 20px;
}

.elevation-tab {
    background-color: #F0F3FA !important;
    padding: 3px;
}

.m-item-group.elevation-tab .m-btn.m-btn--has-bg.m-btn--active {
    background-color: white !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    /* text/1-2强调 */

    color: #323D6F;
}

.elevation-tab .theme--light.m-btn--active:hover::before, .elevation-tab .theme--light.m-btn--active::before {
    opacity: 0;
}

.m-item-group.elevation-tab .m-btn.m-btn--has-bg {
    background-color: #F0F3FA !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    /* text/2-2正文 */

    color: #7681AB;
}

.m-text-field--outlined.m-input--dense.m-input--dense-48 .m-label {
    top: 14px;
}
.m-text-field--outlined.m-input--dense.m-input--dense-48 .m-label--active {
    transform: translateY(-20px) scale(0.75);
}

/*.m-btn {*/
/*    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);*/
/*}*/

/*
    default button
*/

.masa-stack-components .small-button {
    min-width: 100px !important;
    height: 40px !important;
    border-radius: 40px !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.3125rem !important;
}

.masa-stack-components .medium-button{
    min-width: 126px !important;
    height: 40px !important;
    border-radius: 99px !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.3125rem !important;
}

.masa-stack-components .large-button {
    min-width: 340px !important;
    height: 48px !important;
    border-radius: 90px !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    line-height: 1.3125rem !important;
}

.masa-stack-components .medium-button.m-btn--icon, .masa-stack-components .small-button.m-btn--icon {
    min-width: 40px !important;
    width: 40px !important;
}

.masa-stack-components .large-button.m-btn--icon {
    min-width: 48px !important;
    width: 48px !important;
}


/*
    default dataTable
*/

.masa-stack-components .table-border-none td, th {
    border-bottom: 0px !important;
    box-shadow: none;
}

/*
    uploadImage
*/

.masa-stack-components .uploadImage {
    cursor: pointer;
}

.masa-stack-components .uploadImage input[type=file] {
    opacity: 0;
    pointer-events: none;
    width: 0;
    max-width: 0;
}