.masa-stack-components .masa-text-highlight-2 {
    color: #323D6F !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text-highlight-1 {
    color: #1B2559 !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-text-3-1 {
    color: #A3AED0 !important;
    font-weight: 400 !important;
}

.masa-stack-components .masa-text-2-2 {
    color: #7681AB !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-text-2-1 {
    color: #485585 !important;
    font-weight: 400 !important;
}

.masa-stack-components .masa-text-1-1 {
    color: #1B2559 !important;
    font-weight: 500 !important;
}

.masa-stack-components .masa-text {
    color: #000000 !important;
    font-weight: 700 !important;
}

.masa-stack-components .masa-fill-clicked {
    background-color: #E9EDF7;
}

.masa-stack-components .br-1 {
    border-radius: 4px;
}

.masa-stack-components .br-2 {
    border-radius: 8px;
}

.masa-stack-components .clear-before-opacity::before {
    opacity: 0;
}