/*
    color of background
*/

.masa.m-application {
  font-family: roboto,"Noto Sans SC","Microsoft YaHei" !important;
  font-size: 16px;
}

    .masa.m-application .default {
      background-color: #000000 !important;
    }

    .masa.m-application .emphasis {
      background-color: #1B2559 !important;
    }

    .masa.m-application .emphasis2 {
      background-color: #323D6F !important;
    }

    .masa.m-application .regular {
      background-color: #485585 !important;
    }

    .masa.m-application .regular2 {
      background-color: #7681AB !important;
    }

    .masa.m-application .regular3 {
      background-color: #A3AED0 !important;
    }

    .masa.m-application .fill {
      background-color: #FFFFFF !important;
    }    
    /*
    color of text
    */

    .masa.m-application .default--text {
      color: #000000 !important;
    }

    .masa.m-application .emphasis--text {
      color: #1B2559 !important;
    }

    .masa.m-application .emphasis2--text {
      color: #323D6F !important;
    }

    .masa.m-application .regular--text {
      color: #485585 !important;
    }

    .masa.m-application .regular2--text {
      color: #7681AB !important;
    }

    .masa.m-application .regular3--text {
      color: #A3AED0 !important;
    }

    .masa.m-application .fill--text {
      color: #FFFFFF !important;
    }
    /*
    font
    */
    .masa.m-application .h1 {
      font-size: 6rem !important;
      font-weight: 300 !important;
      line-height: 7rem !important;
      letter-spacing: -0.0946875em !important;
    }

    .masa.m-application .h2 {
      font-size: 3.75rem !important;
      font-weight: 300 !important;
      line-height: 4.75rem !important;
      letter-spacing: -0.03125em !important;
    }

    .masa.m-application .h3 {
      font-size: 3rem !important;
      font-weight: 900 !important;
      line-height: 3.5rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .h4 {
      font-size: 2.125rem !important;
      font-weight: 700 !important;
      line-height: 3.1875rem !important;
      letter-spacing: 0.02em !important;
    }

    .masa.m-application .h5 {
      font-size: 1.5rem !important;
      font-weight: 700 !important;
      line-height: 2.25rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .h6 {
      font-size: 1.25rem !important;
      font-weight: 700 !important;
      line-height: 1.875rem !important;
      letter-spacing: 0.01em !important;
    }

    .masa.m-application .h7 {
      font-size: 1.125rem !important;
      font-weight: 500 !important;
      line-height: 1.6875rem !important;
      letter-spacing: 0.01em !important;
    }

    .masa.m-application .h8 {
      font-size: 1rem !important;
      font-weight: 700 !important;
      line-height: 1.5rem !important;
      letter-spacing: 0.03125em !important;
    }

    .masa.m-application .subtitle {
      font-size: 1rem !important;
      font-weight: 500 !important;
      line-height: 1.5rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .subtitle2 {
      font-size: 0.875rem !important;
      font-weight: 700 !important;
      line-height: 1.3125rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .subtitle3 {
      font-size: 0.75rem !important;
      font-weight: 700 !important;
      line-height: 1.125rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .body {
      font-size: 1rem !important;
      font-weight: 400 !important;
      line-height: 1.5rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .body2 {
      font-size: 0.875rem !important;
      font-weight: 400 !important;
      line-height: 1.3125rem !important;
      letter-spacing: 0.015625em !important;
    }

    .masa.m-application .btn {
      font-size: 0.875rem !important;
      font-weight: 500 !important;
      line-height: 1.3125rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .caption {
      font-size: 0.75rem !important;
      font-weight: 400 !important;
      line-height: 1.125rem !important;
      letter-spacing: 0em !important;
    }

    .masa.m-application .overline {
      font-size: 0.625rem !important;
      font-weight: 400 !important;
      line-height: 0.9375rem !important;
      letter-spacing: 0 !important;
      text-transform: none !important;
    }

    .masa.m-application .rounded-2 {
      border-radius: 8px !important;
    }

    .masa.m-application .rounded-3 {
      border-radius: 12px !important;
    }

    .masa.m-application .rounded-4 {
      border-radius: 16px !important;
    }

    .masa.m-application .rounded-5 {
      border-radius: 20px !important;
    }

    .masa.m-application .rounded-6 {
      border-radius: 24px !important;
    }

    .masa.m-application .rounded-b-4 {
      border-bottom-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }

    .masa.m-application .rounded-b-0 {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .masa.m-application .rounded-t-0 {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }

    .masa.m-application .rounded-r-1 {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }

    .masa.m-application .max-height {
      height: 100% !important;
    }

    .masa.m-application .max-width {
      width: 100% !important;
    }

    .masa.m-application .full-width {
      width: 100% !important;
    }

    .masa.m-application .full-height {
      height: 100% !important;
    }
