/*
    color of background
*/

.masa .primary {
    background-color: #4318FF !important;
}

.masa .primary-hover {
    background-color: #6956FF !important;
}

.masa .primary-clicked {
    background-color: #3613CC !important;
}

.masa .primary-disabled {
    background-color: #A18BFF !important;
}

.masa .primary-special {
    background-color: #D9D1FF !important;
}

.masa .primary-lighten {
    background-color: #ECE8FF !important;
}

.masa .default-hell {
    background-color: #000000 !important;
}

.masa .default-emphasis {
    background-color: #1B2559 !important;
}

.masa .default-emphasis-secondary {
    background-color: #323D6F !important;
}

.masa .default-regular {
    background-color: #485585 !important;
}

.masa .default-regular-secondary {
    background-color: #7671AB !important;
}

.masa .default-secondary {
    background-color: #A3AED0 !important;
}

.masa .fill {
    background-color: #FFFFFF !important;
}

.masa .fill-lighten {
    background-color: #FAFBFE !important;
}

.masa .fill-hover {
    background-color: #F6F8FD !important;
}

.masa .fill-background {
    background-color: #F0F3FA !important;
}

.masa .fill-disabled {
    background-color: #E9EDF7 !important;
}

.masa .fill-line {
    background-color: #E2E7F4 !important;
}

.masa .fill-overlay {
    background-color: #141726 !important;
}

.masa .success {
    background-color: #00B42A !important;
}

.masa .success-hover {
    background-color: #23C343 !important;
}

.masa .success-clicked {
    background-color: #009A29 !important;
}

.masa .success-disabled {
    background-color: #7BE188 !important;
}

.masa .success-special {
    background-color: #AFF0B5 !important;
}

.masa .success-lighten {
    background-color: #E8FFEA !important;
}

.masa .remind {
    background-color: #FF7D00 !important;
}

.masa .remind-hover {
    background-color: #FF9A2E !important;
}

.masa .remind-clicked {
    background-color: #D25F00 !important;
}

.masa .remind-disabled {
    background-color: #FFCF8B !important;
}

.masa .remind-special {
    background-color: #FFE4BA !important;
}

.masa .remind-lighten {
    background-color: #FFF7E8 !important;
}

.masa .warning {
    background-color: #FF5252 !important;
}

.masa .warning-hover {
    background-color: #FF8A80 !important;
}

.masa .warning-clicked {
    background-color: #B71C1C !important;
}

.masa .warning-disabled {
    background-color: #FBACA3 !important;
}

.masa .warning-special {
    background-color: #FDCDC5 !important;
}

.masa .warning-lighten {
    background-color: #FFECE8 !important;
}

.masa .info {
    background-color: #37A7FF !important;
}

.masa .info-hover {
    background-color: #5FB9FF !important;
}

.masa .info-clicked {
    background-color: #2C86CC !important;
}

.masa .info-disabled {
    background-color: #9BD3FF !important;
}

.masa .info-special {
    background-color: #D7EDFF !important;
}

.masa .info-lighten {
    background-color: #EBF6FF !important;
}

.masa .yellow {
    background-color: #FFB547 !important;
}

.masa .yellow-hover {
    background-color: #FFC46C !important;
}

.masa .yellow-clicked {
    background-color: #CC9139 !important;
}

.masa .yellow-disabled {
    background-color: #FFDAA3 !important;
}

.masa .yellow-special {
    background-color: #FFF0DA !important;
}

.masa .yellow-lighten {
    background-color: #FFF8ED !important;
}

.masa .green {
    background-color: #05CD99 !important;
}

.masa .green-hover {
    background-color: #37D7AD !important;
}

.masa .green-clicked {
    background-color: #04A47A !important;
}

.masa .green-disabled {
    background-color: #82E6CC !important;
}

.masa .green-special {
    background-color: #CDF5EB !important;
}

.masa .green-lighten {
    background-color: #E6FAF5 !important;
}

/*
    color of text
*/

.masa .primary--text {
    color: #4318FF !important;
}

.masa .primary--text-hover {
    color: #6956FF !important;
}

.masa .primary--text-clicked {
    color: #3613CC !important;
}

.masa .primary--text-disabled {
    color: #A18BFF !important;
}

.masa .primary--text-special {
    color: #D9D1FF !important;
}

.masa .primary--text-lighten {
    color: #ECE8FF !important;
}

.masa .default-text-hell {
    color: #000000 !important;
}

.masa .default-text-emphasis {
    color: #1B2559 !important;
}

.masa .default-text-emphasis-secondary {
    color: #323D6F !important;
}

.masa .default-text-regular {
    color: #485585 !important;
}

.masa .default-text-regular-secondary {
    color: #7671AB !important;
}

.masa .default-text-secondary {
    color: #A3AED0 !important;
}

.masa .fill--text {
    color: #FFFFFF !important;
}

.masa .fill--text-lighten {
    color: #FAFBFE !important;
}

.masa .fill--text-hover {
    color: #F6F8FD !important;
}

.masa .fill--text-background {
    color: #F0F3FA !important;
}

.masa .fill--text-disabled {
    color: #E9EDF7 !important;
}

.masa .fill--text-line {
    color: #E2E7F4 !important;
}

.masa .fill--text-overlay {
    color: #141726 !important;
}

.masa .green--text {
    color: #05CD99 !important;
}

.masa .green--text-lighten {
    color: #E6FAF5 !important;
}
/*
    font
*/
.masa .font-10 {
    font-size: 10px !important;
    font-weight: 400 !important;
}

.masa .font-12 {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.masa .font-12-medium {
    font-size: 12px !important;
    font-weight: 500 !important;
}

.masa .font-12-bold {
    font-size: 12px !important;
    font-weight: 700 !important;
}

.masa .font-14 {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.masa .font-14-medium {
    font-size: 14px !important;
    font-weight: 500 !important;
}

.masa .font-14-bold {
    font-size: 14px !important;
    font-weight: 700 !important;
}

.masa .font-16 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.masa .font-16-medium {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.masa .font-16-bold {
    font-size: 16px !important;
    font-weight: 700 !important;
}

.masa .font-18 {
    font-size: 18px !important;
    font-weight: 400 !important;
}

.masa .font-18-medium {
    font-size: 18px !important;
    font-weight: 500 !important;
}

.masa .font-20-bold {
    font-size: 20px !important;
    font-weight: 700 !important;
}

.masa .font-24-bold {
    font-size: 24px !important;
    font-weight: 700 !important;
}

.masa .font-34-bold {
    font-size: 34px !important;
    font-weight: 700 !important;
}

.masa .font-48-bold {
    font-size: 48px !important;
    font-weight: 900 !important;
}

.masa .font-60-bold {
    font-size: 60px !important;
    font-weight: 900 !important;
}

.masa .rounded-2 {
    border-radius: 8px !important;
}

.masa .rounded-3 {
    border-radius: 12px !important;
}

.masa .rounded-4 {
    border-radius: 16px !important;
}

.masa .rounded-6 {
    border-radius: 24px !important;
}

.masa .rounded-b-4 {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.masa .rounded-r-1 {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}