@namespace Masa.Stack.Components
@inherits MIcon

@if (Tooltip is not null)
{
    <MTooltip Top>
        <ActivatorContent>
            <span @attributes="context.Attrs">
                @base.BuildRenderTree
            </span>
        </ActivatorContent>
        <ChildContent>
            <span>@Tooltip</span>
        </ChildContent>
    </MTooltip>
}
else
{
    @base.BuildRenderTree
}
