name: Package Push Nuget
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  package-push:
    name: package push
    runs-on: ubuntu-latest
    steps:
    - name: git pull
      uses: actions/checkout@v2
      
    - name: setting dotnet version
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          6.0.x
          7.0.x
        include-prerelease: true

    - name: restore
      run: dotnet restore 

    - name: build
      run: dotnet build src/Masa.Stack.Components/Masa.Stack.Components.csproj --configuration Release --no-restore /p:ContinuousIntegrationBuild=true

    - name: pack
      run: dotnet pack --configuration Release --include-symbols  -p:PackageVersion=0.0.$GITHUB_RUN_NUMBER
    
    - name: package push
      run: dotnet nuget push "**/*.symbols.nupkg" -k  ${{secrets.NUGET_TOKEN}}  -s https://api.nuget.org/v3/index.json
